# Binaries, Build, Intermediate 디렉터리 제외
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# VS 관련 파일 제외
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vscode/
.vs/

# Mac/Unix 관련
.DS_Store
*.dSYM
*.app

# Logs
*.log

# Crash reports
*.pidb
*.pdb
*.aps

# 기타 자동 생성 파일
*.local
*.user
*.userprefs
*.db
*.ipch
*.obj
*.exe
*.dll
*.tmp
*.bak
*.swp

# Config 백업
*.ini~

# 다이렉트 x 파일
DirectX3D\x64/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Built data for maps
*_BuiltData.uasset
